.heading {
  width: 300px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub-heading {
  width: 300px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
