img {
  margin-bottom: 10px;
  display: block;
}
input {
  display: block;
  margin-bottom: 10px;
}
.seven-a {
  width: 200px;
  border-radius: 8px;
  display: block;
}
.seven-b {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.seven-c {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 150px;
}
.seven-d {
  border-radius: 5px;
  border-style: solid;
}
.Seven-e {
  width: 350px;
  height: 25px;
  color: dimgray;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.f-heading,
.f-subheading {
  color: rgb(96, 96, 96);
  font-family: arial;
}
.f-search {
  width: 250px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.525);
  border-width: 1px;
}
.f-button {
  color: white;
  background-color: rgb(50, 127, 205);
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: block;
}
.g-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  vertical-align: middle;
}
.g-search {
  display: inline-block;
  border: none;
  vertical-align: middle;
  color: rgb(96, 96, 96);
}
.g-button {
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 18px;
  border: none;
  background-color: rgb(50, 127, 205);
  color: white;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
